<div id="<%= dom_id vault %>">
  <p>
    <strong>Id:</strong>
    <%= vault.id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= vault.owner %>
  </p>

  <p>
    <strong>Collateral:</strong>
    <%= vault.collateral %>
  </p>

  <p>
    <strong>Collateral type:</strong>
    <%= vault.collateral_type %>
  </p>

  <p>
    <strong>Collateral token:</strong>
    <%= vault.collateral_token %>
  </p>

  <p>
    <strong>Stacked tokens:</strong>
    <%= vault.stacked_tokens %>
  </p>

  <p>
    <strong>Stacker name:</strong>
    <%= vault.stacker_name %>
  </p>

  <p>
    <strong>Revoked stacking:</strong>
    <%= vault.revoked_stacking %>
  </p>

  <p>
    <strong>Auto payoff:</strong>
    <%= vault.auto_payoff %>
  </p>

  <p>
    <strong>Debt:</strong>
    <%= vault.debt %>
  </p>

  <p>
    <strong>Created at block height:</strong>
    <%= vault.created_at_block_height %>
  </p>

  <p>
    <strong>Updated at block height:</strong>
    <%= vault.updated_at_block_height %>
  </p>

  <p>
    <strong>Stability fee accrued:</strong>
    <%= vault.stability_fee_accrued %>
  </p>

  <p>
    <strong>Stability fee last accrued:</strong>
    <%= vault.stability_fee_last_accrued %>
  </p>

  <p>
    <strong>Is liquidated:</strong>
    <%= vault.is_liquidated %>
  </p>

  <p>
    <strong>Auction ended:</strong>
    <%= vault.auction_ended %>
  </p>

  <p>
    <strong>Leftover collateral:</strong>
    <%= vault.leftover_collateral %>
  </p>

</div>
